body
{
  background-image: url(https://gumlet.assettype.com/swarajya%2F2019-05%2Fdfbc8ebb-3b6b-4769-8513-764a81b5b380%2Ffood.jpg?format=auto);
  background-size:cover;
}
h1
{
 
  text-align:center;
  color:blue;
  padding:300px;
}




  

